---
layout: page
title: Curriculum Vitae
permalink: /curriculum-vitae/
---
<div id="wrapper">
  <div id="contact-details">
    <h2>Contact Details</h2><p>
    <div id="left-contact", style="float: left">
      {% if site.email %}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
      {% endif %}
      <a href="http://github.com/rflagreca">GitHub (rflagreca)</a><br>
      <a href="http://uk.linkedin.com/in/rlagreca1">LinkedIn (rlagreca1)</a>
    </p></div>

    <div id="right-contact", style="float: right"><p>16 Margaret Rose Crescent<br>
      Edinburgh<br>
      EH10 7EZ<br>
      {% if site.phone %}
        Tel: <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
      {% endif %}
    </p></div>
  </div>

  <hr>

  <div id="technical-profile", style="float: left">
    <h2>Technical Profile</h2>
    <p>
      Programming Languages:<br>
      <ul>
        <li>Proficient: Ruby, Java</li>
        <li>Some experience:  C#, Perl, Javascript, C++, Python</li>
      </ul>
      Web Technologies: Ruby on Rails, Sinatra, Python Flask, Amazon Web Services (specifically EC2 &amp; S3)<br>
      Version Control: Git<br>
    </p>
  </div>

  <hr>

  <div id="education", style="float: left">
    <h2>Education</h2>
    <h3>2012 - 2016 Edinburgh Napier University</h3>
    <p>
      <b>BEng (Hons) Software Engineering</b><br>
      Degree Classification: First Class Honours<br>
      Graduated: February 2016<br>
    </p>
  </div>

  <hr>

  <div id="publications", style="float: left">
    <h2>Publications</h2>
    <p><b>S. Wells &amp; R. La Greca (2015) - &quot;Introducing ALIAS&quot;</b><br>
    <i>Proceedings of the 15th International Workshop on Computation Models of Natural Argument (<a href="http://www.cmna.info/CMNA15">CMNA15</a>), Bertinoro, Italy.</i></p>
  </div>

  <hr>

  <div id="experience", style="float: left">
    <h2>Relevant Experience</h2>
    <p><b>January 2016 - Present</b><br>
    <b>FreeAgent Central Limited, Edinburgh - Support Engineer</b></p>

    <p>FreeAgent are a provider of Cloud Accounting software for Sole Traders and Small Businesses.  In my role as a Support Engineer at FreeAgent, I provide second line technical support for FreeAgent’s customers.  This involves liaising with the first-line Support Accountants and customers directly to resolve issues.</p>

    <p>My role involves troubleshooting customer facing problems through the use of system logs, source code traversal and production database interaction via the Rails console.</p>

    <p>Also, as part of my role, it is my responsibility to develop tools and Gists to support and accelerate the Support Engineering process and to better serve the customer’s needs.  As part of this responsibility, I created a CLI Tool which is used daily across a variety of teams to triage Feature and Improvement requests from the Zendesk ticketing system.  This tool integrates with Github and Zendesk via their APIs.</p>

    <p><b>September 2015 - December 2015</b><br>
    <b>Edinburgh Napier University, Edinburgh Lab Demonstrator - Advanced Web Technologies</b><br></p>

    <p>During my final semester at University I assisted students during the lab sessions for this third year course which involved the building of a Flask Web App.</p>

    <p><b>May 2015 - July 2015</b>
    <b>Edinburgh Napier University, Edinburgh</b>
    <b>Development Intern - ALIAS Python Library</b></p>

    <p>I completed a summer internship with the School of Computing at my University to develop an Open Source Python library for the creation, manipulation and evaluation of Abstract Argumentation  Frameworks <a href="https://en.wikipedia.org/wiki/Argumentation_framework"></a>.</p>

    <p>I worked on this project as the sole developer, liaising with my mentor frequently regarding the progress of the project.  By the end of the internship I delivered the completed library whose source code is available at <a href"https://github.com/alias-org/alias"></a>.</p>

    <p>A workshop paper based on ALIAS was published in November 2015 as part of the proceedings submitted to CMNA Conference (Computational Models for Natural Argument) for publication consideration.</p>
  </div>
</div>
